/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
/* Common styles */
@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./animations.css');

/* Sections style */
@import url('./header.css');
@import url('./vite-promo.css');
@import url('./badges.css');
@import url('./back-link.css');
@import url('./footer.css');

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery li {
  width: 360px;
  height: 200px;
  overflow: hidden;
}

.gallery img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.feedback-form {

  border-radius: 8px;
  padding: 24px;
  width: 408px;
  height: 296px;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.feedback-form label {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.feedback-form input {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

  padding-left: 16px;
  margin-top: 8px;
  margin-bottom: 8px;

  border: 1px solid #808080;
  border-radius: 4px;
  min-width: 345px;
  height: 40px;
}

.feedback-form input::placeholder {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;

}

.feedback-form textarea {   
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  min-height: 80px;

  margin-top: 8px;
  margin-bottom: 16px;

  resize: none;
  overflow: auto;
}

.feedback-form button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 95px;
  height: 40px;
  background-color: #4e75ff;
  border: none;
  outline: none;

  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}

.feedback-form button:hover {
  background: #6c8cff;
  transition: background-color 250ms ease;
}

.container.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}